html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
   
/*
 * FONTE BASE
 */

	@font-face {
		font-family: Museo300;
		src: url(../fonts/Museo300-Regular-webfont.eot?) format('eot'),
		     url(../fonts/Museo300-Regular-webfont.woff) format('woff'),
		     url(../fonts/Museo300-Regular-webfont.ttf) format('truetype'),
		     url(../fonts/Museo300-Regular-webfont.svg#webfontpXXAQkWV) format('svg');
		font-weight: normal;
		font-style: normal;
	}

	html{
		font: 16px Museo300, Verdana, sans-serif;
		color: #666;
	}   


a{text-decoration: none;}

.center{width: 940px;margin: 0 auto}
.left{float: left}
.right{float: right}
.clear{clear: both}

body{
  font-family: Helvetica, sans-serif; 
  background: #88c2ce;
}

#header{
  height: 500px;
  margin-top: 20px;
}

#header.interno{
  /* height: 500px; */
  margin-top: 20px;
}

#header h1{
	width: 250px;
	font: 28px Museo300, Verdana, sans-serif;
	line-height: 20px;
	color: #4b5453;
	margin-top: 50px;
	margin-left: 50px;
	text-align: center;
}

.logo{
  background: url(../images/logo.png) no-repeat ;
  height: 120px;
  width: 400px;
  text-indent: -9999px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

p {
	width: 380px;
	font: Museo300, Verdana, sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	color: #4b5453;
	text-align: justify;
}

.cta{
	background: #fff;
	width: 940px;
	height: 100px;
	border-top: 5px solid #ccc;
	border-bottom: 5px solid #ccc;
}

#call-action a{
	float: right;
	background: url(../images/cal-action.png) no-repeat;
	width: 486px;
	height: 67px;
	display: block;
	margin-top: 15px;
	margin-right: 15px;
	text-align: center;
	line-height: 70px;
	color: #fff;
	font-size: 25px;
}

#call-action a:hover	{
	color: #000;
}

.fone {
	float: left;
	width: 400px;
	color: #666;
	font-size: 22px;
	margin-top: 40px;
	margin-left: 30px;
}

.fone span{
	font-size: 14px;
}

#video{
	width: 930px;
	height: 281px;
	background: #ebebeb;
	border: 5px solid #ccc;
	margin-bottom: 20px;
}

#interna{
	width: 930px;
	height: 980px;
	background: #ebebeb;
	border: 5px solid #ccc;
	margin-bottom: 50px;
	padding-top: 20px;
}

#footer{
	width: 100%;
	height: 390px;
	background: #e7e7e7 url(../images/bg-footer.png) repeat-x bottom; 
}

#cx-logo{
	background: url("../images/cx-logo.png") no-repeat center center;
	height: 30px;
	width: 84px;
	display: block;
	margin-top: 300px;
	margin-bottom: 20px
}
#cx-logo span{
	visibility: hidden;
	text-indent: -9999px;
}